.profile-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;

  }
  
  .profile-title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .profile-actions {
    display: flex;
    gap: 10px;
  }
  
  .profile-button {
    padding: 10px 20px;
    background-color: #de2626;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .profile-details {
    background-color: #f5f5f5;
    padding: 20px;
    gap: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
  }
  
  .profile-item {
    display: flex;
    margin-bottom: 10px;
  }
  
  .profile-item__label {
    min-width: 150px;
    font-weight: bold;

  }
  
  .profile-item__value {
    flex-grow: 1;
  }
  
  .user-foto-chat{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 10px;
  }

